<slide class="{{ slide.class }}" id="{{ slide.id }}" style="background:{{{ slide.bg }}};">
  {{# slide.header }}
  <hgroup>
    {{{ slide.header}}}
  </hgroup>
  {{/ slide.header }}
  <article data-timings="{{ slide.dt }}">
    {{{ slide.content }}}
  </article>
  <!-- Presenter Notes -->
  {{# slide.pnotes }}
  <aside class="note" id="{{ id }}">
    <section>
      {{{ html }}}
    </section>
  </aside>
  {{/ slide.pnotes }}
  <div class='edit-button button-group'>
    <a href="http://prose.io/#ramnathv/user2014-idocs-slides/edit/gh-pages/{{page.editlink}}/index.Rmd" class="button icon edit">Edit</a>
    <a href='http://ramnathv.github.io/user2014-idocs-slides' class="button icon home" target="_self">Home</a>  
     <a href='http://github.com/ramnathv/user2014-idocs-slides/issues/new?body={{site.comment.description}}' class="button icon comment" target="_self">Comment</a>  
  </div>
</slide>

